NODE_ENV=development
PORT=8080

BODY_LIMIT=5mb

ALLOW_CORS_ORIGIN = *
ALLOW_CORS_METHODS=OPTIONS,GET,POST,PUT,PATCH,DELETE

PATH_PREFIX = digisolvent

JWT_TOKEN_FIELD=auth_token
JWT_TOKEN_EXPIRE_TIME=1h
JWT_TOKEN_KEY=abcdefghijkl
JWT_TOKEN_ALGO=HS256

MONGO_CONNECTION_STRING=mongodb://<username>:<password>@other_parts
